<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

     <link rel="stylesheet" href="{{ url_for('static', filename='index1/index_style.css') }}">

</head>
<body>
<div style="padding-bottom:45px;">
    여기는 html 창

    <a href="/about">어바웃으로 가는길</a>

</div>


<div class="daum_content">
    <h2>중소 벤처 기업부 모집 공고</h2>

    <ul>
    {% for i in range(0, daum_len) %}

    <a href="{{daum_href[i]}}"><li>{{ daum[i] }}</li></a>

    {% endfor %}

        </ul>




    </div>


<div class="daum_content">
    <h2>창업 진흥원 모집 공고</h2>


     <ul>
    {% for i in range(0, today_len) %}

    <a href="{{today_href[i]}}"><li>{{ today[i] }}</li></a>

    {% endfor %}

        </ul>


    </div>

<!--
<div class="daum_content">
    <h2>모집 공고</h2>
<ul>
{% for i in clien %}

    <li>{{ i }}</li>

{% endfor %}
    </ul>
    </div>



-->
</body>
</html>